#slider{
    width: 768px;
    height: 256px;
    border: black 2px solid;
    margin: 50px auto;
    overflow: hidden;
}
#polosa{
    background-color: brown;
    width: 1536px;
    position: relative;
    left: 0;
    transition:  all ease 1s;

}
#polosa img{
    float: left;
}

#polosa::after{
    content: "";
    display: block;
    clear: both;
}